{% extends "common/l_sidebar.html" %}

{% load static %}
{% load humanize %}


{% block page_title %}Safe EC Site{% endblock %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'shopping/css/style.css' %}">
{% endblock %}

{% block header_title %}Safe EC site{% endblock %}

{% block left_header_content %}
<div class="right_alignment">
    <form method="GET">
        <input type="text" name="search_word">
    </form>
    <a class="icon_header" href="" ><i class="fas fa-shopping-cart"></i><div class="icon_name">cart</div></a>
    <a class="icon_header" href="{% url 'account_login' %}" ><i class="fas fa-lock"></i><div class="icon_name">login</div></a>
</div>
{% endblock %}


{% block sidebar_content %}
{% endblock %}


{% block main %}
<main class="container">

    {% if request.user.is_authenticated %}
    <div style="font-size:1.2rem;">いらっしゃいませ {{ request.user.username }} さん <a href="{% url 'account_logout' %}" style="color:blue;">ログアウトする</a></div>
    {% elif request.user.is_anonymous %}
    <div style="font-size:1.2rem;">ようこそ ゲスト さん</div>
    {% endif %}

    {% if products %}
    <p>{{ products|length }}件ヒットしました。</p>
    {% endif %}

    {% for product in products %}
    <p>{{ product.name }} |  {{ product.category }}| {{ product.price|intcomma }}円</p>
    {% endfor %}
</main>
{% endblock %}


